<div class="form-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <label>Prénom * </label>
    <input type="text" formControlName="prenom">
    @if (contactForm.get('prenom')?.invalid && contactForm.get('prenom')?.touched) {
      <div class="error">
        <small>Le prénom est obligatoire</small>
      </div>
    }

    <label>Nom * </label>
    <input type="text" formControlName="nom" min="0">
    @if (contactForm.get('nom')?.invalid && contactForm.get('nom')?.touched) {
      <div class="error">
        <small>Le nom est obligatoire</small>
      </div>
    }

    <label>Âge</label>
    <input type="number" formControlName="age">

    <label class="checkbox-label">
      <input type="checkbox" (change)="toggleEmail()"> Masquer l'Email
    </label>

    @if (!hideEmail) {
      <label>Email *  </label>
      <input type="email" formControlName="email">
      @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
        <div class="error">
          @if(contactForm.get('email')?.errors?.['required']) { <small>L'email est obligatoire</small> }
          @if(contactForm.get('email')?.errors?.['email']) { <small>L'email doit contenir un "@"</small> }
        </div>
      }
    }

    <label>Commentaire * </label>
    <textarea formControlName="commentaire"></textarea>
    @if (contactForm.get('commentaire')?.invalid && contactForm.get('commentaire')?.touched) {
      <div class="error">
        <small>Le commentaire est obligatoire</small>
      </div>
    }

    <p> * : Champ Obligatoire</p>

    <button type="submit" [disabled]="!contactForm.valid">Envoyer</button>
  </form>
</div>